@media screen and (max-width: 900px) {
    .add-form {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }
    .form-header-container {
        justify-content: center;
        min-width: 350px;
    }

    .custom-file-upload {
        width: 100%;
    }

    .input-image-container2 {
        width: 100%;
    }

    .input-image-container {
        width: 100%;
    }




    .input-image-container {
        display: none;
    }
    .mobile-input-image-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: flex-end;
    }

    .mobile-input-image-container {
        margin: 0;
        flex-direction: row;
        justify-content: center;
         margin-top: 6px;
         color: white;
         width: 100%
    }
    .mobile-input-image-container .input-image-container2{
         width: 227px
    }
}
@media screen and (max-width: 585px) {
  .form-container {
    padding: 0 45px;
  }
}
@media screen and (max-width: 490px) {
  .form-container {
    padding: 0 20px;
  }

  .form-header-container {
    justify-content: center;
    min-width: 50px;
}
}
@media screen and (max-width: 464px) {
    .form-container {
        width: 100%;
    }
    .form-fields-container {
        min-width: 280px;
    }

    .form-field {
        width: 100%;
    }

    .form-button-container {
        flex-wrap: wrap;
    }
    .form-submit-button{
        width: 100%;
    }
    .form-reset-button{
        width: 100%;
    }

    .input-image-container {
        width: 280px;
    }
}

