.hero-wrapper {
    display: flex;
    background-color: #2E4D42;
    height: 850px;
}

h1 {
    box-sizing: border-box;
    max-width: 380px;
    font-size: 40px;
    margin: 20px 0px;
    color: white;
    font-family: Raleway;
    font-weight: 700;
}

.hero-container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0 90px;
    gap: 63px;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hero-image {
    height: 100%;
}

.img-crop {
    width: 400px;
    height: 497px;
    border-radius: 6px;
    overflow: hidden;
}

.search-and-button-container {
    display: flex;
    flex-direction: column;
}

.hero-search{
    font-family: Raleway;
    height: 44px;
    padding: 0 24px;
    margin-top: 20px;
    margin-bottom: 12px;
    border-radius: 6px;
    font-size: 19px;
    border: 0px;
    outline: none; 
}

.hero-button-container {
    display: flex;
    gap: 12px;
}

.hero-add-button {
    flex: 1;
    color: #212121;
    align-items: center;
    font-family: Raleway;
    font-size: 19px;
    font-weight: 700;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    height: 44px;
    padding: 0 24px ;
    cursor: pointer;
}


.hero-add-button:hover{
    font-weight: 700;
    background-color: #46724F ;
    color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.304);
    border: 1px solid black;
    
}
.hero-database-button{
    flex: 1;
    font-family: Raleway;
    color: white;
    font-size: 19px;
    font-weight: 700;
    background-color: #2E4D42 ;
    border: 1px solid white;
    border-radius: 6px;
    height: 44px;
    padding: 0 24px ;
    cursor: pointer;
}

.hero-database-button:hover{
    background-color: white;
    color: #212121;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.304);
    border: 1px solid black;
}