@media screen and (max-width: 1014px) {
    .database-outlet-container .form-container {
        padding: 0 20px;
    }

    .database-add-button {
        display: none;
    }
    .mobile-database-button-container {
        display: flex;
    }
    .close-button-container {
        display: inline;
    }
}


@media screen and (max-width: 814px)  {
    .database-header-container {
        flex-direction: column;
        margin-bottom: 32px;
        gap: 0;
    }

    .database-search-and-button-container{
        gap: 0;
    }

  
}


@media screen and (max-width: 745px) {
 .database-wrapper {
    margin: 32px 20px;
 }   
}