.navbar-container {
    background-color: #2E4D42;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
    margin: auto;
    max-width: 1440px;
}

li {
    list-style: none;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container > :last-child {
    text-decoration: none;
    color: white;
    font-size: 24px ;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: -1px;
    cursor: pointer;
}

h3 {
    color: white;
    margin: 0;
}



.nav-right-container{
    display: flex;
    justify-content: space-between;
    min-width: 184px;

}
.nav-right-container > :last-child{
    box-sizing: border-box;
    font-family: Raleway;
    display: flex;
    align-items: center;
    background-color: white;
    color: #2E4D42;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 6px;
    font-weight: 600;
    padding: 0 21px;
    height: 44px;
    cursor: pointer;
}

.nav-right-container > :last-child:hover{ 
    background-color: #46724F;
    font-weight: 700;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.304);
    color: white;
}
.nav-right-container > :first-child{
    font-family: Raleway;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 600;
    height: 44px;
    cursor: pointer;
}

.nav-right-container > :first-child:hover {
    font-weight: 700;
}

