.s3-background {
    background-color: #F3F7F7;
    padding: 0 90px;
}

.s3-content-frame {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s3-background h2 {
    margin: 16px 0;
}

.s3-add-button {
    flex: 1;
    margin-right: 21px;
    color: white;
    align-items: center;
    font-family: Raleway;
    font-size: 19px;
    font-weight: 700;
    background-color: #2E4D42;
    border: 1px solid #2E4D42;
    border-radius: 6px;
    height: 44px;
    padding: 0 24px ;
    cursor: pointer;
}



.s3-add-button:hover{
    font-weight: 700;
    background-color: #46724F ;
    color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.304);
    border: 1px solid black;
}
.s3-database-button {
    flex: 1;
    color: black;
    align-items: center;
    font-family: Raleway;
    font-size: 19px;
    font-weight: 700;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    height: 44px;
    padding: 0 24px ;
    cursor: pointer;
}


.s3-database-button:hover{
    font-weight: 700;
    background-color: #46724F ;
    color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.304);
    border: 1px solid black;
}