@media screen and (max-width: 815px) {
    
    .accordion-title {
        grid-template-columns: 1fr 0.25fr;
    }
    
    .accordion-title h3:nth-child(4) {
        display: none;
    }
    .accordion-title h3:nth-child(3) {
        display: none;
    }
    .accordion-title h3:nth-child(2) {
        display: none;
    }
}
